# Read training data file

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
import utils
from sklearn import svm

# read training data and test data
data_train = pd.read_csv('train_conv_64.csv',header = 0, index_col=0)
data_train.head()

X = data_train.drop(['Image','Eyeglasses','Mustache','Smiling','Wearing_Hat','Type'], axis=1)

Y = data_train[['Eyeglasses','Mustache','Smiling','Wearing_Hat']]

X.to_csv('X_data_train')
Y.to_csv('Y_data_train.csv')

In [45]:
# read training data and test data
#X = pd.read_csv('X_data_train.csv',header = 0, index_col=0)
data = pd.read_csv('train_minimal_128.csv',header = 0, index_col=0)
data.head()

,Image,Eyeglasses,Mustache,Smiling,Wearing_Hat,Type,0,1,2,3,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,000016.jpg,-1,-1,1,-1,0,23,23,23,23,...,29,30,30,30,31,32,33,34,33,32
1,000025.jpg,-1,-1,-1,-1,0,85,89,88,81,...,79,75,77,71,72,75,77,82,81,75
2,000026.jpg,-1,-1,-1,-1,0,172,169,175,184,...,74,96,96,99,112,129,122,87,61,62
3,000028.jpg,-1,-1,1,-1,0,233,231,231,234,...,178,184,187,186,191,191,193,191,187,187
4,000037.jpg,-1,-1,-1,1,0,77,76,74,73,...,57,57,57,57,57,57,57,57,57,57

In [46]:
X = data.drop(['Image','Eyeglasses','Mustache','Smiling','Wearing_Hat','Type'], axis=1)

Y = data[['Eyeglasses','Mustache','Smiling','Wearing_Hat']]

# read training data and test data
#Y_data = pd.read_csv('Y_data_train.csv',header = 0, index_col=0)
Y_data = pd.read_csv('Y_data_train_balanced.csv',header = 0, index_col=0)
Y_data.head()

In [47]:
Y = Y.apply(utils.create_labels, axis = 1)

In [7]:
Y.value_counts()

Smiling_       2000
Wearing_Hat    2000
Neutral        2000
Eyeglasses_    2000
Mustache_      2000
dtype: int64

In [8]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,23,23,23,23,23,23,23,23,23,23,...,29,30,30,30,31,32,33,34,33,32
1,85,89,88,81,82,84,80,82,82,84,...,79,75,77,71,72,75,77,82,81,75
2,172,169,175,184,181,170,166,166,180,189,...,74,96,96,99,112,129,122,87,61,62
3,233,231,231,234,234,234,231,228,227,229,...,178,184,187,186,191,191,193,191,187,187
4,77,76,74,73,73,74,73,74,74,74,...,57,57,57,57,57,57,57,57,57,57

# Train model

In [9]:
start_time = time.clock()
# build the classifier
#lin_clf = svm.LinearSVC(class_weight='auto') # If dataset is unbalanced
lin_clf = svm.LinearSVC()
lin_clf.fit(X,Y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [10]:
time_sec = time.clock() - start_time
m, s = divmod(time_sec, 60)
h, m = divmod(m, 60)
print ("Training time: %d:%02d:%02d" % (h, m, s))

Training time: 0:17:22

In [11]:
import pickle
# save the model to disk
filename = 'svm_finalized_model.sav'
pickle.dump(lin_clf, open(filename, 'wb'))

In [12]:
# load the model from disk
#lin_clf = pickle.load(open(filename, 'rb'))
lin_clf.score(X, Y)

0.99880000000000002

#lin_clf = svm.LinearSVC(class_weight='auto')
0.7853474227437488

In [48]:
lin_clf_acc_train=lin_clf.score(X, Y)

# Verify model

In [50]:
# read training data and test data
data_verify = pd.read_csv('verify_minimal_128.csv',header = 0, index_col=0)
data_verify.head()

,Image,Eyeglasses,Mustache,Smiling,Wearing_Hat,Type,0,1,2,3,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,162783.jpg,-1,-1,-1,-1,1,206,206,206,206,...,214,215,216,215,215,214,213,213,213,213
1,162807.jpg,1,-1,-1,-1,1,100,101,93,80,...,33,28,31,33,30,30,37,38,34,33
2,162813.jpg,-1,-1,1,-1,1,58,58,56,57,...,41,40,40,40,41,42,43,43,43,43
3,162827.jpg,-1,-1,-1,-1,1,79,77,77,80,...,176,199,196,188,168,143,145,150,170,180
4,162844.jpg,-1,-1,-1,1,1,42,42,42,42,...,204,204,204,204,204,205,206,206,206,206

In [51]:
X_verify = data_verify.drop(['Image','Eyeglasses','Mustache','Smiling','Wearing_Hat','Type'], axis=1)
Y_data = data_verify[['Eyeglasses','Mustache','Smiling','Wearing_Hat']]

In [52]:
Y_verify = Y_data.apply(utils.create_labels, axis = 1)

In [18]:
#import pickle
# load the model from disk
#filename = 'svm_finalized_model.sav'
#clf = pickle.load(open(filename, 'rb'))
print ("Accuracy on verification set:", lin_clf.score(X_verify, Y_verify))

Accuracy on verification set: 0.6565

In [53]:
lin_clf_acc_verify=lin_clf.score(X_verify, Y_verify)

Linear SVM score on the balanced train dataset:
score: 0.27692256871035942
accuracy on verification set: 0.0441435546383

#lin_clf = svm.LinearSVC(class_weight='auto')
Accuracy on verification set: 0.633160517441

# Normalized data

In [55]:
X_n= X/255.0
X_n.head()

,0,1,2,3,4,5,6,7,8,9,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,0.090196,0.090196,0.090196,0.090196,0.090196,0.090196,0.090196,0.090196,0.090196,0.090196,...,0.113725,0.117647,0.117647,0.117647,0.121569,0.125490,0.129412,0.133333,0.129412,0.125490
1,0.333333,0.349020,0.345098,0.317647,0.321569,0.329412,0.313725,0.321569,0.321569,0.329412,...,0.309804,0.294118,0.301961,0.278431,0.282353,0.294118,0.301961,0.321569,0.317647,0.294118
2,0.674510,0.662745,0.686275,0.721569,0.709804,0.666667,0.650980,0.650980,0.705882,0.741176,...,0.290196,0.376471,0.376471,0.388235,0.439216,0.505882,0.478431,0.341176,0.239216,0.243137
3,0.913725,0.905882,0.905882,0.917647,0.917647,0.917647,0.905882,0.894118,0.890196,0.898039,...,0.698039,0.721569,0.733333,0.729412,0.749020,0.749020,0.756863,0.749020,0.733333,0.733333
4,0.301961,0.298039,0.290196,0.286275,0.286275,0.290196,0.286275,0.290196,0.290196,0.290196,...,0.223529,0.223529,0.223529,0.223529,0.223529,0.223529,0.223529,0.223529,0.223529,0.223529

In [20]:
start_time = time.clock()
print('Start training: ', time.ctime())

Start training:  Fri Apr 21 13:59:03 2017

In [21]:
# build the classifier
#lin_clf = svm.LinearSVC(class_weight='auto') # If dataset is unbalanced
norm_clf = svm.LinearSVC()
norm_clf.fit(X_n,Y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [22]:
print('Train end: ', time.ctime())
time_sec = time.clock() - start_time
m, s = divmod(time_sec, 60)
h, m = divmod(m, 60)
print ("Training time: %d:%02d:%02d" % (h, m, s))

Train end:  Fri Apr 21 14:16:12 2017
Training time: 0:17:09

In [56]:
import pickle
# save the model to disk
filename = 'svn_norm_finalized_model.sav'
pickle.dump(norm_clf, open(filename, 'wb'))

In [23]:
# load the model from disk
#norm_clf = pickle.load(open(filename, 'rb'))
print('Accuracy :',norm_clf.score(X_n, Y))

Accuracy : 0.9994

In [42]:
norm_clf_acc_train=norm_clf.score(X_n, Y)

In [24]:
X_verify_n= X_verify/255.0

In [25]:
print ("Accuracy on verification set:", norm_clf.score(X_verify_n, Y_verify))

Accuracy on verification set: 0.663

In [43]:
norm_clf_acc_verify=norm_clf.score(X_verify_n, Y_verify)

Normalized balanced dataset:
Accuracy : 0.408694503171
Accuracy on verification set: 0.117531585041

# Black and White data

In [27]:
X_bw = X
X_bw[X_bw>0]=1

In [9]:
X_bw.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [32]:
start_time = time.clock()
print('Start training: ', time.ctime())
# build the classifier
#lin_clf = svm.LinearSVC(class_weight='auto') # If dataset is unbalanced
clf = svm.LinearSVC()
clf.fit(X_bw,Y)

Start training:  Fri Apr 21 14:25:52 2017

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [33]:
time_sec = time.clock() - start_time
m, s = divmod(time_sec, 60)
h, m = divmod(m, 60)
print ("Training time: %d:%02d:%02d" % (h, m, s))

Training time: 0:36:23

In [34]:
import pickle
# save the model to disk
filename = 'svn_bw_finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [35]:
# load the model from disk
#lin_clf = pickle.load(open(filename, 'rb'))
print('Accuracy :',clf.score(X_bw, Y))

Accuracy : 0.458

In [36]:
bw_clf_acc_train=clf.score(X_bw, Y)

In [37]:
X_verify_bw =X_verify
X_verify_bw[X_verify_bw>0]=1

In [38]:
print ("Accuracy on verification set:", clf.score(X_verify_bw, Y_verify))

Accuracy on verification set: 0.2185

In [39]:
bw_clf_acc_verify=clf.score(X_verify_bw, Y_verify)

Black and Wtite dataset:
Accuracy : 0.149511099366
Accuracy on verification set: 0.0211405848895

In [54]:
print('Linear :',lin_clf_acc_train) 
print('Linear :',lin_clf_acc_verify) 
print('Normalized :',norm_clf_acc_train) 
print('Normalized :',norm_clf_acc_verify) 
print('Black and White :',bw_clf_acc_train) 
print('Black and White :',bw_clf_acc_verify)

Linear : 0.9988
Linear : 0.6565
Normalized : 0.3558
Normalized : 0.656
Black and White : 0.458
Black and White : 0.2185

In [58]:
# train
training_data_0 =X_n
training_data_1 =Y
test_data_0 =X_verify_n
test_data_1 =Y_verify

In [59]:
print('Start training: ', time.ctime())
clf = svm.SVC()
clf.fit(training_data_0, training_data_1)
print('End training: ', time.ctime())

Start training:  Fri Apr 21 15:15:34 2017
End training:  Fri Apr 21 15:43:13 2017

In [ ]:
# test
predictions = [a for a in clf.predict(test_data_0)]
num_correct = sum(int(a == y) for a, y in zip(predictions, test_data_1))
print("Baseline classifier using an SVM.")
print("%s of %s values correct." % (num_correct, len(test_data_1)))

Baseline classifier using an SVM.
1322 of 2000 values correct.

In [ ]:
print('Training score:', clf.score(training_data_0, training_data_1))
print('Verify score:', clf.score(test_data_0, test_data_1))